.track-section {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	position: relative;
}

.skills-track {
	width: 100%;
	height: 500px;
	// border: 1px solid red;
	display: flex;
	justify-content: start;
	align-items: flex-start;
	padding-top: 60px;

	.line {
		width: 2px;
		height: 500px;
		background-color: black;
		margin-left: 25px;
	}
}
