@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
.master-content {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px 0 50px;
}

.hero {
  height: 90%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.action {
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.action #scroll_down_mobile {
  visibility: hidden;
}

.content {
  width: 57%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.content .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .wrapper h1 {
  font-size: 64px;
  font-family: "Lora", serif;
  font-weight: 500;
}

.content .wrapper h3 {
  font-size: 24px;
  font-family: "Lora", serif;
  font-weight: 400;
}

.content .wrapper strong {
  font-weight: 700;
  font-family: "Lora", serif;
}

.person {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-height: 525px) {
  .master-content {
    height: auto;
  }
}

@media only screen and (max-width: 840px) {
  #person {
    height: 400px;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    gap: 7%;
    padding-top: 25px;
  }
  .hero .content {
    margin-top: -25px;
    width: 100%;
    height: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 70px;
  }
  .hero .content h1 {
    font-size: 54px;
  }
  .hero .content h3 {
    margin-top: -15px;
  }
  .person {
    width: 100%;
    height: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 0;
  }
  .action {
    margin-left: -230px;
  }
}

@media only screen and (max-width: 567px) {
  .action {
    padding-top: 70px;
    visibility: hidden;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid red;
  }
  .action #scroll_down_mobile {
    visibility: visible;
  }
  #person {
    height: 350px;
    width: 400px;
  }
  .hero {
    padding-top: 0;
    margin-top: -140px;
  }
  .hero .content h1 {
    font-size: 45px;
  }
  .hero .content h3 {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=about.css.map */