@import "../styles/helper.scss";

.master-content {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 50px 0 50px;
}

.hero {
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.action {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	padding-top: 30px;
}

.content {
	width: 55%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: right;

	.wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h1 {
			font-size: 64px;
			font-family: $primary-font;
			font-weight: 500;
		}
		h3 {
			font-size: 24px;
			font-family: $primary-font;
			font-weight: 400;
		}
		strong {
			font-weight: 700;
			font-family: $primary-font;
		}
	}
}

.person {
	width: 45%;
	height: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
}

@media only screen and (max-height: 525px) {
	.master-content {
		height: auto;
	}
}

@media only screen and (max-width: 840px) {
	.hero {
		flex-direction: column-reverse;
		text-align: center;

		.content {
			margin-top: -25px;
			width: 100%;
			height: 25%;
			display: flex;
			align-items: center;
			justify-content: center;

			h3 {
				margin-top: -25px;
				// visibility: hidden;
			}
		}
	}

	.person {
		width: 100%;
		height: 75%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 0;
	}

	.action {
		margin-left: -230px;
	}
}
